.button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.button:hover,
.button:active,
.button.button-alt:hover,
.button.button-alt:active {
  background-color: #5a1a01;
  border-color: #5d4f49;
  color: white;
}

.button.button-alt {
  color: #8a2b06;
  background-color: #fff;
}

.button {
  background-color: #8a2b06;
  color: white;
}
